footer {
  display: flex;
  flex-direction: row;
  font-family: "IRANsans";
  justify-content: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-image: radial-gradient(circle, #041b8b, #3238a1, #5056b6, #6c73ca, #8992de);
  width: 100%;
  height: 60px;
  color: white;
  font-size: 20px;
  padding: 15px;
  
}
