.container {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  line-height: 400px;
  text-align: center;
  color: white;
  background-image: radial-gradient(circle, #0d059d, #4b3db8, #756ad2, #9f99e9, #cac8ff);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  img {
    height: 400px;
    display: inline !important;
    padding: 10px;
    cursor: pointer;
  }
}
