.container {
  display: flex;
  flex-direction: column;
  .carousel{
    justify-content: center;
  }
  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .card {
      display: flex;
      flex-direction: column;
      width: 300px;
      border-radius: 10px;
      margin: 120px 70px 20px 70px;
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
  }
}
