.container {
  display: flex;
  flex-direction: column;
  .carousel{
    justify-content: center;
  }
  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .card {
      display: flex;
      flex-direction: column;
      width: 400px;
      border-radius: 10px;
      margin: 120px 70px 20px 70px;
      box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    }
  }
}
