@font-face {
  font-family: "IRANSans";
  src: url("../fonts/IRANSans.eot") format("eot"),
    url("../fonts/IRANSans.woff") format("woff"),
    url("../fonts/IRANSans.woff") format("truetype");
}

body {
  font-family: "IRANSans";
  background-image:  url("../images/wallpaper.jpg");

}